
.carrossel__titulo{
    background: var(--branco);
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
  width: 100%
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    margin: 0.5em 0;
    position: initial;
}

@media screen and (min-width:1024px) {
    
    .carrossel__titulo{
        font-size: 1.62rem;
    }

    
    .swiper-pagination{
    margin: 2em 0 3em 0;  
    }

    .swiper{
        width: 60%;
    }

    .swiper-button-prev, 
    .swiper-button-next{
        display: block;
        top: 70%;
    }

}

@media screen and (min-width:1360px) {

    .carrossel__container{
        display: flex;
        margin: 0em 20vw 3em 20vw ;
        align-items: center;
       
    }

    .swiper-pagination{
        margin: 1em; 
        }

    .swiper{
        width: 50%;
    }
    
}



